@model uTest.WEB.Models.RegisterModel

@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    <div class="row">
        <div class="col s12 centralized red-text">
            @Html.ValidationSummary()
        </div>
    </div>
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="input-field col l8 m8 s10 push-l2 push-m2 push-s1">
            @Html.LabelFor(model => model.Email, "Email")
            @Html.EditorFor(model => model.Email, new
       {
           htmlAttributes = new
           {
               @required = "required",
               pattern = @"^.+@.+\..+$",
               oninvalid = "this.setCustomValidity('Wrong e-mail format')",
               oninput = "setCustomValidity('')"
           }
       })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
        <div class="input-field col l8 m8 s10 push-l2 push-m2 push-s1">
            @Html.LabelFor(model => model.Password, "Password")
            @Html.EditorFor(model => model.Password, new
       {
           htmlAttributes = new
           {
               @required = "required",
               pattern = @"^(?=.*[A-z])(?=.*\d)(?!.*\s)(?=^.{8,16}$).*$",
               oninvalid = "this.setCustomValidity('Password have to contain at least 1 digit character & letter. Length: 8 - 16')",
               oninput = "setCustomValidity('')"
           }
       })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
        <div class="input-field col l8 m8 s10 push-l2 push-m2 push-s1">
            @Html.LabelFor(model => model.ConfirmPassword, "Confirm password")
            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @required = "required" } })
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
        <div class="input-field col l8 m8 s10 push-l2 push-m2 push-s1">
            @Html.LabelFor(model => model.Name, "Your name")
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @required = "required" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
        <div class="input-field col l8 m8 s10 push-l2 push-m2 push-s1 centralized">
            <input type="submit" value="Send" class="btn btn-default main-color-background" />
        </div>
    </div>
    <div class="row"></div>
}

