@model uTest.WEB.ViewModels.UserViewModel

@{
    ViewBag.Title = "Admin/UserDetails";
}

<div class="row"></div>
<div class="row">
    <div class="col l3 hide-on-med-and-down pushpin">
        <div class="moving-block">
            <div class="row">
                <div id="right-sidebar" class="card centralized z-depth-0">
                    <p class="card-title flow-text white-text menu-par">Menu</p>
                    <div class="collection with-header no-margin-top">
                        @Html.RouteLink("Home", new { area = "Admin", controller = "Admin", action = "Index" }, new { @class = "collection-item main-color-text" })
                        @Html.RouteLink("Manage tests", new { area = "Admin", controller = "AdminTest", action = "Index" }, new { @class = "collection-item main-color-text" })
                        @Html.RouteLink("Manage users", new { area = "Admin", controller = "AdminUser", action = "Index" }, new { @class = "collection-item main-color-text" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col l9 m12 s12 push-l3">
        <div class="row">
            <div class="col l11 m12 s12">
                <div class="row">
                    <p class="flow-text welcome-text centralized">User information</p>
                    <hr class="colored-hr-thin" />
                </div>
                <div class="row">
                    @if (Model == null)
                    {
                        <p class="flow-text centralized welcome-text">Oops.. Something goes wrong!</p>
                    }
                    else
                    {
                        <div class="row">
                            <div class="col l3 m3 s8 push-s2 centralized">
                                <img class="responsive-img circle" src="~/Content/images/avatar.jpg"/>
                            </div>
                            <div class="col l9 m9 s12">
                                <div class="row">
                                    <p class="flow-text avarage-text centralized">General</p>
                                </div>
                                <div class="row">
                                    <p class="flow-text sub-welcome-text">Name: @Model.Name</p>
                                    <p class="flow-text sub-welcome-text">E-mail: @Model.Email</p>
                                    <p class="flow-text sub-welcome-text">Role: @Model.Role</p>
                                </div>
                                <div class="row">
                                    <p class="flow-text avarage-text centralized">Statistic</p>
                                </div>
                                <div class="row">
                                    @if (ViewBag.Stat != null)
                                    {
                                        <p class="flow-text sub-welcome-text">Solved tests: @ViewBag.Stat.SolvedTests</p>
                                        <p class="flow-text sub-welcome-text">Completed tasks: @ViewBag.Stat.CompletedTasks</p>
                                        <p class="flow-text sub-welcome-text">Failed tasks: @ViewBag.Stat.FailedTasks</p>
                                        <p class="flow-text sub-welcome-text">Avarage mark: @ViewBag.Stat.AvarageMark</p>
                                    }
                                    else
                                    {
                                        <p class="flow-text sub-welcome-text">Cannot load user's statistic =(</p>
                                    }
                                </div>
                            </div>
                        </div>
                        if (Model.SolvedTests != null)
                        {
                             <div class="row">
                                 <p class="flow-text avarage-text centralized">Solved tests</p>
                                 <table class="striped">
                                     <thead>
                                         <tr>
                                             <th data-field="name">Name</th>
                                             <th data-field="result">Result</th>
                                         </tr>
                                     </thead>
                                     <tbody>
                                         @foreach (var solvedTest in Model.SolvedTests)
                                         {
                                             <tr>
                                                 <td>@solvedTest.Test.Name</td>
                                                 <td>@solvedTest.Result/100</td>
                                             </tr>
                                         }
                                     </tbody>
                                 </table>
                             </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

