@model IEnumerable<uTest.WEB.ViewModels.TestViewModel>
@{
    ViewBag.Title = "Admin/Tests";
}

<div class="row"></div>
<div class="row">
    <div class="col l3 hide-on-med-and-down pushpin">
        <div class="moving-block">
            <div class="row">
                <div id="right-sidebar" class="card centralized z-depth-0">
                    <p class="card-title flow-text white-text menu-par">Menu</p>
                    <div class="collection with-header no-margin-top">
                        @Html.RouteLink("Home", new { area = "Admin", controller = "Admin", action = "Index" }, new { @class = "collection-item main-color-text" })
                        @Html.RouteLink("Manage tests", new { area = "Admin", controller = "AdminTest", action = "Index" }, new { @class = "collection-item main-color-background active" })
                        @Html.RouteLink("Manage users", new { area = "Admin", controller = "AdminUser", action = "Index" }, new { @class = "collection-item main-color-text" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col l9 m12 s12 push-l3">
        <div class="row">
            <div class="col l11 m12 s12">
                <div class="row">
                    <p class="flow-text welcome-text centralized">Tests</p>
                    <p class="flow-text sub-welcome-text centralized">You can manage tests here</p>
                    <hr class="colored-hr-thin"/>
                </div>
                <div class="row">
                    <div class="col s10 push-s1">
                        <div class="card">
                            <div class="collection no-margin-vert centralized  z-depth-bordered">
                                @Html.RouteLink("+ NEW TEST", new { area = "Admin", controller = "AdminTest", action = "Create" },
                                new { @class = "collection-item main-color-text" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s10 push-s1">
                        <div class="card">
                            <div class="collection no-margin-vert centralized  z-depth-bordered">
                                @Html.RouteLink("+ NEW TEST FROM DOC", new { area = "Admin", controller = "AdminTest", action = "CreateFromDoc" },
                                new { @class = "collection-item main-color-text" })
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tests_target" class="row">
                    @Html.Partial("Partials/_TestsList", Model)
                </div>
            </div>
        </div>
    </div>
</div>

